#main {
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-weight: bold;
    
}


p{
    font-size: 15px;
    margin-top: 30px; 

}
h5{
    margin-bottom: 20px ;
    border-radius: 20px;
    padding: 10px;

}

#start_button {
    margin-top: 2rem;
    background: #FFD700; 
    color: white;/* 예시로 3rem 으로 설정 */
}

#creator {
    margin-top: 6rem;
}

#main img {
    margin-bottom: 10px; /* 이미지 아래 간격 설정 */
    margin-top: 10px;
}