#main {
    background-color: transparent;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;

}
p{
    font-size: 15px;
    margin-top: 20px; 

}
h1{
    margin-bottom: 20px ;
}

#main img {
    margin-bottom: 20px; 
}
#main img {
    margin-bottom: 20px; /* 이미지 아래 간격 설정 */
    margin-top: 20px;
}