#result {
    display: none;
    background-color: transparent;
    width: 80%;
    text-align: center;
    border-radius: 20px;

}

.resultDesc{
    padding-bottom: 20px;
    font-size: 18px;
}

.resultname{
    font-size: 20px;
}


.restart{
    clear: both;
}